<div class="container-fluid">
    <h2>Selamat Datang di Halaman Contact</h2>
<h6>Daftar Kontak</h6>
<table class="table">
    <tr>
        <th>#</th>
        <th>Nomor Handphone</th>
        <th>Aksi</th>
    </tr>
    <% let no = 1; %> 
    <% contacts.forEach(ctc => { %>
        <tr>
            <td><%= no++  %> </td>
            <td><%= ctc.nohp %></td>
            <td>
                <a href="/contact/<%= ctc.nama %> " class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle me-3"></i>Detail</a>
            </td>
        </tr>
    <% }) %>
</table>
</div>