<h2>Selamat Datang di Website Resmi Sub-Holding Beyond kWh</h2>
<%= `Terimakasih atas pengabdiannya pak ${nama}` %>
<h1>4 Sub-Holding PLN </h1>
<% subholding.forEach(sbh => { %>
  <ul>
    <li><%= sbh.nama %> </li>
  </ul>
<% }) %>